@font-face {
    font-family: "Hack Nerd";
    src: url("./assets/Hack/HackNerdFont-Regular.ttf");
  }
@font-face {
  font-family: "Symbols Nerd";
  src: url("./assets/NerdFontsSymbolsOnly/SymbolsNerdFont-Regular.ttf");
}
:root {
  --purple: #aa3bff;
  --dark-purple: rgba(170, 59, 255, 0.5);

  --font-family: "Hack Nerd", "Symbols Nerd", monospace, system-ui;

  font: 18px/145% var(--font-family);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#matrix {
  position: absolute;
  z-index: 1;
}

p, #output {
  font: 18px/145% var(--font-family);
  text-align: center;
}

.terminal {
  display: flex;
  justify-content: center;
}
.terminal span {
  color: var(--purple);
}

.userProfile {
  overflow: hidden;
}

#cmdinput {
  field-sizing: content;
  min-width: 200px;
  max-width: 400px;
  border: none;
  background-color: transparent;
  caret-color: var(--dark-purple);
  caret-shape: block;
  padding-left: 5px;
}
#cmdinput:focus {
  outline: none;
}

.output-box {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#output {
  padding: unset;
  border: unset;
  margin: unset;
  background-color: transparent;
  overflow: hidden;
  text-wrap: stable;
}
