@font-face {
    font-family: "Hack Nerd";
    src: url("./assets/Hack/HackNerdFont-Regular.ttf");
  }
@font-face {
  font-family: "Symbols Nerd";
  src: url("./assets/NerdFontsSymbolsOnly/SymbolsNerdFont-Regular.ttf");
}
:root {
  --pink: #F5C2E7;
  --lavender: #B4BEFE;

  --font-family: "Hack Nerd", "Symbols Nerd", monospace, system-ui;

  font: 18px/145% var(--font-family);
  color-scheme: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pid {
  display: flex;
  flex-direction: column;
}

#matrix {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

p, #output {
  font: 18px/145% var(--font-family);
  text-align: center;
}

.terminal {
  display: flex;
  justify-content: center;
}
.terminal span { 
  color: var(--pink);
}

.userProfile {
  overflow: hidden;
}

#cmdinput {
  field-sizing: content;
  min-width: 200px;
  max-width: 400px;
  border: none;
  background-color: transparent;
  caret-color: var(--lavender);
  caret-shape: block;
  padding-left: 5px;
  color: var(--lavender);
}
#cmdinput:focus {
  outline: none;
}

.output-box {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#output {
  padding: unset;
  border: unset;
  margin: unset;
  background-color: transparent;
  overflow: hidden;
  text-wrap: stable;
}
